/.idea
/.vscode
.env

package-lock.json
pnpm-lock.yaml
.log
.xml
build

bin/
dist/
obj/
node_modules/

.DS_Store
.user
.envrc

**/*.DotSettings.user

**/appsettings.Development.json

**/screenshots

backend/src/db/generated/